*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: .85rem;
  font-family: 'Open Sans', sans-serif;
  background: #000;
}

img {
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
}

nav {
  padding: 0 1em;
  background: hsl(218, 28%, 13%);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  color: #fff;
  margin-right: .5em;
}

.nav-link {
  padding: 1em;
  font-size: .75rem;
}

.nav-logo {
  width: 20%;
  margin: 1em;
}

.hero-main {
  background:hsl(218, 28%, 13%); 
}

.hero {
  background-image: url('../images/bg-curvy-mobile.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  color: hsl(0, 0%, 100%);
  padding: 0 1.5em;
  font-size: .75rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.hero-img {
  width: 90%;
}

.hero-title {
  margin-bottom: .5em;
}

.hero-desc {
  width: 90%;
  margin-bottom: 2em;
}

.hero-btn {
  font-size: .85rem;
  padding: 1em 6em;
  border-radius: 50px;
  border: none;
  background: hsl(198, 60%, 50%);
  color: #fff;
}

.icons-section {
  margin-top: 6em;
  color: #fff;
  text-align: center;
}

.icon-img {
  width: 20%;
}
.icon {
  margin: 10em 2em;
}

.access,
.security,
.real {
  margin-bottom: 7em;
}

.access-title,
.security-title,
.real-title,
.store-title {
 padding: 1.5em 0 .5em;
}

.access-desc,
.security-desc,
.real-desc,
.stor-desc {
  line-height: 1.6;
}

.stay-productive-section {
  margin: 0 1em;
}

.stay-productive-title,
.stay-productive-desc,
.stay-productive-desc2 {
  color: #fff;
  padding-top: 1.5em;
}

.stay-productive-desc2  {
  margin-bottom: 2em;
}

.fylo {
  text-decoration: none;
  display: flex;
  padding-top: 1em;
  padding-bottom: 6em;
}

.arrow {
  width: 15px;
  margin: 2px 5px 2em;
  display: flex;
  justify-content: center;
  
}

.rv-img,
.qt-img {
  width: 50px;
}

.reviews {
  color: #fff;
  margin: 0 2em;
}

.review-one,
.review-two,
.review-three {
  background: #333;
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 1em;
}

.rv-img {
  border-radius: 50%;
  margin-top: 1em;
}

.img-section {
  display: flex;
  align-items: c;
}

.get-section {
  color: #fff;
  margin: 10em 2em;
  border-radius: 5px;
  padding: 1em;
  background: #333;
}

.btn-section {
  display: flex;
  flex-direction: column ;
}

.get {
  margin: 1em 0;
  line-height: 1.5;
  text-align: center;
}

.get-desc {
  margin: 1em 0;
}

.email-btn,
.get-btn {
  padding: 1.25em 3em;
  border-radius: 3em;
  border: none;
}

.email-btn{
  text-align: left;
  color: rgb(158, 161, 161);
  background: #fff;
  margin: 1.5em 0;
}

.get-btn {
  font-size: .70rem;
  color: #fff;
  background: rgb(59, 175, 233);
}

.fylo-logo {
  width: 60%;
  padding: 2em;
}

.ft-logo {
  margin-bottom: -1em;
}

.icon-img {
 width: 20px;
 height: 20px;
}

.icons {
  color: #fff;
  padding: 0 2em;
}

.icon {
  display: flex;
  margin: 0;
  padding: 1em 0;
}

.icon-desc {
  padding-left: 1.5em;
}

.footer-sec {
  color: #fff;
}

.list-items,
.list-items-sub {
  padding: 2em;
}

.list-item,
.list-item-sub {
  margin-bottom: 1em;
  text-transform: capitalize;
}

.socials {
  text-align: center;
}

.social {
  
  margin: 3em 0;
}

.fab {
  border: 1px solid #fff;
  padding: .5em;
  border-radius: 50%;
  margin: 0 .5em;
  width: 30px;
  height: 30px;
  
}